.scanner {
  padding: 20px 10px;

  &__progress {
    position: absolute;
    background-color: orange;
    height: 2px;
    top: 0;
    left: 0;
  }

  &__source {
    margin: 10px 0;
    max-width: 100%;
  }

  &__crop {
    border-radius: 4px;
  }

  &__output {
    width: 100%;
    height: 100%;
    resize: none;
    border: 0;
  }
}
