.menu {
  position: fixed;
  height: 100vh;
  overflow: auto;
  padding-top: var(--status-bar-size);
  right: var(--menu-size);
  width: var(--menu-size);

  &__title {
    top: 0;
    margin-bottom: 8px;
    font-size: 1.4rem;
    padding: 0 var(--spaces-horizontal);
  }

  &__section {
    padding-bottom: 22px;

    &:last-child {
      padding-bottom: 10px;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 500;
      transition: background-color 200ms ease;
      padding: 10px var(--spaces-horizontal);
      white-space: nowrap;
      text-decoration: none;
      position: relative;
      width: 100%;

      &.active {
        &::before {
          content: "";
          width: calc(100% - 2 * var(--spaces-horizontal));
          height: 100%;
          position: absolute;
          background-color: #0001;
          border-radius: var(--rounded-corners);
        }
      }

      svg {
        min-width: 30px;
      }

      span {
        margin-left: 10px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
