.drag {
  top: 0;
  left: 0;
  width: 100vw;
  height: 22px;
  display: flex;
  justify-content: flex-end;
  -webkit-app-region: drag;
  position: absolute;
  z-index: 10;

  span {
    margin: 0 8px;
    font-size: 20px;
    cursor: pointer;
  }
}
