.tabs {
  display: flex;
  justify-content: center;

  &__item {
    flex: 1;
    cursor: pointer;
    transition: transform 140ms ease;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 12px;
    margin: 2px;

    &:active {
      transform: scale(0.9);
    }
  }

  @at-root {
    .light & button {
      background-color: #aaa5;
      border: 1px solid #bbb4;
    }

    .dark & button {
      background-color: #555a;
      border: 1px solid #444b;
    }
  }
}
