input[type="date"] {
  height: 30px;
  margin: 6px 2px;
  outline: 0;
  width: calc(100% - 4px);
  padding: 0 7px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border-radius: 2px;
  border: 0;

  @at-root {
    .light & {
      background-color: #ccc;
    }

    .dark & {
      background-color: #555b;
    }
  }
}

.date__differences {
  padding: 2px;

  > p {
    padding: 2px 0;
  }
}
