.screen {
  height: 10vh;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  margin: 6px 2px;

  &--converter {
    font-size: 30px;
  }

  &--standard,
  &--scientific,
  &--programmer {
    font-size: 38px;
    text-align: right;
    justify-content: flex-end;
    height: 12vh;
  }
}
