.content {
  position: fixed;
  background-color: #d0d0d099;
  padding: 26px 10px 12px 10px;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
}

.dark .content {
  background-color: #2a2a2e99;
}

.menu__toggle {
  transition: transform 120ms ease;
  cursor: pointer;
  left: 14px;
  position: absolute;
  font-size: 17px;
  top: 27px;

  &:active {
    transform: scale(0.9);
  }
}
