.content {
  position: fixed;
  padding: 26px 10px 10px;
  width: 250px;
  height: 100vh;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  @at-root {
    .light & {
      background-color: #d5d5d199;
    }

    .dark & {
      background-color: #2a2a2e66;
    }
  }
}
