.content {
  position: fixed;
  background-color: #2a2a2e99;
  padding: 26px 10px 12px 10px;
  width: 250px;
  height: 100vh;
  top: 0px;
  right: 0px;
}

.menu__toggle {
  transition: transform 120ms ease;
  cursor: pointer;
  left: 14px;
  position: absolute;
  font-size: 17px;
  top: 27px;
}

.menu__toggle:active {
  transform: scale(0.9);
}
