select {
  vertical-align: middle;
  margin: 2px;
  padding: 0 8px;
  border-radius: 2px;
  font-weight: 500;
  font-size: 16px;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  height: 30px;
  width: calc(50% - 8px);
  border: 0;

  @at-root {
    .light & {
      background-color: #ccc;
    }

    .dark & {
      background-color: #555b;
    }
  }
}
