.menu {
  padding-top: 26px;
  position: fixed;
  height: 100vh;
  overflow: auto;
  right: 250px;
  width: 250px;

  &__title {
    top: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding: 0 14px;
  }

  &__section {
    padding-bottom: 22px;

    &:last-child {
      padding-bottom: 10px;
    }

    a {
      display: flex;
      align-items: center;
      transition: background-color 200ms ease;
      white-space: nowrap;
      padding: 10px 14px;
      width: 100%;
      font-weight: 500;
      font-size: 1.9rem;
      text-decoration: none;

      svg {
        min-width: 30px;
      }

      span {
        margin-left: 10px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
