.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  button {
    font-size: 20px;
    font-weight: 500;
    width: calc(100% / 3 - 4px);
    height: calc(100% / 5 - 4px);
    transition: transform 140ms ease;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;

    &.wide {
      margin-left: calc(100% / 3 + 2px);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  @at-root {
    .light & button {
      background-color: #aaa5;
      border: 1px solid #bbb4;
    }

    .dark & button {
      background-color: #555a;
      border: 1px solid #444b;
    }
  }
}
