.keyboard {
  display: flex;
  flex-wrap: wrap;
  flex: 1;

  button {
    font-size: 20px;
    font-weight: 500;
    transition: transform 140ms ease;
    border-radius: 2px;
    cursor: pointer;
    margin: 2px;

    &.wide {
      margin-left: calc(100% / 3 + 2px);
    }

    &:active {
      transform: scale(0.9);
    }

    @media (prefers-color-scheme: light) {
      background-color: #aaa5;
      border: 1px solid #bbb4;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #555a;
      border: 1px solid #444b;
    }
  }

  &--converter {
    button {
      width: calc(100% / 3 - 4px);
      height: calc(100% / 5 - 4px);
    }
  }

  &--standard {
    button {
      font-size: 18px;
      width: calc(100% / 4 - 4px);
      height: calc(100% / 6 - 4px);
    }
  }

  &--scientific {
    button {
      font-size: 15px;
      width: calc(100% / 5 - 4px);
      height: calc(100% / 7 - 4px);
    }
  }

  &--programmer {
    button {
      font-size: 15px;
      width: calc(100% / 6 - 4px);
      height: calc(100% / 6 - 4px);
    }
  }
}
