.keyboard {
  margin-top: 6px;
  height: 52vh;

  button {
    vertical-align: top;
    transition: transform 140ms ease;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    width: calc(100% / 3 - 4px);
    height: calc(100% / 5 - 4px);
    margin: 2px;
    border-radius: 2px;

    &.wide {
      margin-left: calc(100% / 3 + 2px);
    }

    &:active {
      transform: scale(0.9);
    }
  }

  @at-root {
    .light & button {
      border: 2px solid #888;
    }

    .dark & button {
      border: 2px solid #777;
    }
  }
}
