.date {
  &__differences {
    padding: 2px;

    p {
      padding: 2px 0;
    }
  }

  &__from,
  &__to {
    height: 30px;
    margin: 6px 2px;
    outline: 0;
    padding: 0 7px;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 4px);
    background: transparent;
    border-radius: 2px;

    @media (prefers-color-scheme: light),
      (prefers-color-scheme: no-preference) {
      background-color: #aaa5;
      border: 1px solid #bbb4;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #555a;
      border: 0 solid #bbb4;
    }
  }

  &__time {
    margin-top: 6px;
    display: flex;
  }

  &__section-name {
    margin: 12px 2px 2px;
  }

  &__field {
    flex: 1;
    width: calc(100% / 3 - 4px);
    margin: 2px;
  }

  &__input {
    outline: 0;
    border: 0;
    display: block;
    padding: 0 8px;
    -webkit-appearance: none;
    height: 30px;
    border-radius: 2px;
    margin-top: 6px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;

    @media (prefers-color-scheme: light),
      (prefers-color-scheme: no-preference) {
      background-color: #aaa5;
      border: 1px solid #bbb4;
    }

    @media (prefers-color-scheme: dark) {
      background-color: #555a;
      border: 1px solid #444b;
    }
  }

  &__options {
    padding: 4px 2px;
    display: flex;
    align-items: center;
  }

  &__option {
    flex: 1;
    display: flex;
    align-items: center;

    input[type="radio"] {
      margin: 4px 6px 4px 0;
    }
  }
}
