:root {
  --color: #444;

  --status-bar-size: 26px;
  --menu-size: 250px;

  --rounded-corners: 6px;

  --spaces-horizontal: 14px;

  @media (prefers-color-scheme: dark) {
    --color: #ddd;
  }
}

html {
  font-size: 62.5%;
}

body {
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.6rem;
  color: var(--color);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  outline: none;
  background: transparent;
  border: 0;
}

a {
  -webkit-user-drag: none;
}
